[Desktop Entry]
Version=1.0
Type=Link
Name=User Manual - CN
Comment=
Icon=emblem-documents
URL=https://docs.elephantrobotics.com/docs/gitbook/2-serialproduct/2.1-280/2.1.2-PI.html
